/* :root {
  //标题 
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%);
  
  //图标背景
  --vp-home-hero-image-background-image: linear-gradient( 135deg, #F6CEEC 10%, #D939CD 100%);
  --vp-home-hero-image-filter: blur(150px);

  // brand按钮 
  --vp-button-brand-border: #F6CEEC;
  --vp-button-brand-text: #F6CEEC;
  --vp-button-brand-bg: #D939CD;

  --vp-button-brand-hover-border: #F6CEEC;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #D939CD;

  --vp-button-brand-active-border: #F6CEEC;

  //主题基色 
  --vp-c-brand: #D939CD;
  --vp-c-brand-light: #D939CD;
  --vp-c-brand-dark: #D939CD;
}

 */


/* 这是flexSearch的样式 */
.DocSearch {
  --289de2ed: "Ctrl";
  /* --docsearch-muted-color: var(--vp-c-text-2);
  --docsearch-text-color: var(--vp-c-text-1); */
  /* --docsearch-new-muted-color: #66666699; */
  --docsearch-doctext-color:#66666699;
}




/* 如何做出磨砂透明效果？ */
/* @media (min-width: 960px) {
  .VPNavBar.has-sidebar .curtain{
      position:absolute;
      right: 0;
      bottom: -31px;
      width: calc(100% - var(--vp-sidebar-width));
      height: 32px
  }

  .VPNavBar.has-sidebar .curtain:before {
      display: block;
      width: 100%;
      height: 32px;
      background: linear-gradient(var(--vp-c-bg),transparent 70%);
      content: ""
  }
}

@media (min-width: 1440px) {
  .VPNavBar.has-sidebar .curtain {
      width:calc(100% - ((100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)))
  }
} */
/* @media (min-width: 960px) {
  .VPNavBar.has-sidebar .content {
      -webkit-backdrop-filter: saturate(50%) blur(8px);
      backdrop-filter: saturate(50%) blur(8px);
      background: rgba(255,255,255,.7);
  }

  .dark .VPNavBar.has-sidebar .content {
      background: rgba(36,36,36,.7)
  }

  @supports not (backdrop-filter: saturate(50%) blur(8px)) {
      .VPNavBar.has-sidebar .content{
          background:rgba(255,255,255,.95)
      }

      .dark .VPNavBar.has-sidebar .content{
          background: rgba(36,36,36,.95)
      }
  }
} */

/* .VPNavBar .fill{
  filter: blur(20px);
} */
/* 搜索区布局 */
.VPNavBarSearch {
  display: flex;
  align-items: center
}

@media (min-width: 768px) {
  .VPNavBarSearch {
      flex-grow:1;
      padding-left: 24px
  }
}

@media (min-width: 960px) {
  .VPNavBarSearch {
      padding-left:32px
  }
}
/* 搜索按钮样式 */
.DocSearch-Button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 55px;
    height: 55px;
    border-radius: 4px;
    background: transparent;
    transition: border-color 0.25s;
}
@media (min-width: 768px) {
  .DocSearch-Button {
    justify-content: flex-start;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 0 10px 0 12px;
    width: 100%;
    height: 40px;
    background-color: var(--vp-c-bg-alt);
  }

  .DocSearch-Button:hover {
    border-color: var(--vp-c-brand);
    background: var(--vp-c-bg-alt)
}
}
@media (max-width: 768px) {
  .DocSearch-Button-Keys {
    display: none;
  }
  .VPNavBarHamburger {
    height: 32px !important;
    width: 32px !important;
    border-radius: 4px;
  }
}
.DocSearch-Button:hover {
  background-color: var(--vp-c-bg-alt);
}

/*这是什么样式？待研究*/
.DocSearch-Button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

.DocSearch-Button:focus:not(:focus-visible) {
  outline: none!important
}

/* 搜索字体样式*/
.DocSearch-Button .DocSearch-Search-Placeholder{
  color: var(--docsearch-doctext-color)
}

/* 快捷键样式*/
.DocSearch-Button .DocSearch-Button-Keys {
  direction: ltr;
  display: none;
  min-width: auto;
}

@media (min-width: 768px) {
  .DocSearch-Button .DocSearch-Button-Keys {
      display:flex;
      align-items: center
  }
}

.DocSearch-Button .DocSearch-Button-Key {
  display: block;
  margin: 2px 0 0;
  border: 1px solid var(--vp-c-divider);
  border-right: none;
  color: var(--docsearch-doctext-color);
/* 自定义快捷字字体开始样式，达到变色效果 */
  border-radius: 4px 0 0 4px;
  padding-left: 6px;
  min-width: 0;
  width: auto;
  height: 22px;
  line-height: 22px;
  font-family: var(--vp-font-family-base);
  font-size: 12px;
  font-weight: 500;
  transition: color .5s,border-color .5s;
}

.DocSearch-Button .DocSearch-Button-Key+.DocSearch-Button-Key {
  border-right: 1px solid var(--vp-c-divider);
  border-left: none;
  border-radius: 0 4px 4px 0;
  padding-left: 2px;
  padding-right: 6px
}

/* 搜索表单样式 */
/* .dark .DocSearch-Footer {
  border-top: 1px solid var(--vp-c-divider)
}

.DocSearch-Form {
  border: 1px solid var(--vp-c-brand);
  background-color: var(--vp-c-white)
}

.dark .DocSearch-Form {
  background-color: var(--vp-c-bg-soft-mute)
} */


