.blog-search{
    --docsearch-doctext-color:#909399;
}
/* .blog-search{
    display: flex;
    padding: 32px;
} */
/* 为何自适应判断是760而非768？
源码：
const isMinimized = computed(() => windowSize.width.value < 760)
const flexValue = computed(() => (isMinimized.value ? 0 : 1))
*/
/* 需要优化其源码，样式一团糟 */
/* 搜索区域布局 */
/* .blog-search{
    display: flex;
    align-items: center
} */
/* @media (min-width: 760px) {
    .blog-search {
        flex-grow:1;
        padding-left: 24px
    }
  }
  
  @media (min-width: 960px) {
    .blog-search {
        padding-left:32px
    }
  } */
/* 搜索按钮样式 */
.blog-search .nav-search-btn-wait{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    background: transparent;
    transition: border-color 0.25s;
}

@media (min-width: 760px) {
  .blog-search .nav-search-btn-wait {
      justify-content: flex-start;
      border: 1px solid transparent;
      border-radius: 8px;
      padding: 0 10px 0 12px;
      width: 120px;
      height: 40px;
      background-color: var(--vp-c-bg-alt);
    }
  
    .blog-search .nav-search-btn-wait:hover {
      border: 1px solid var(--vp-c-brand);
      border-radius: 6px;
      border-color: var(--vp-c-brand);
      background: var(--vp-c-bg-alt);
  }
}
@media (max-width: 760px){
  .blog-search .nav-search-btn-wait:hover{
    border: 1px solid transparent;

  }
}


/* @media (max-width: 768px){
    .metaKey{
        display: none;
    }
    .VPNavBarHamburger {
        height: 32px !important;
        width: 32px !important;
        border-radius: 4px;
    }
} */
/* 这里要想消掉以移动浏览器显示时搜索框提示线，需要改源码，因为vue插件后渲染会覆盖CSS */
/* @media (max-width: 768px) {
  .blog-search .nav-search-btn-wait:hover {
    border-color: var(--vp-c-bg-alt);;
}
} */


.blog-search .nav-search-btn-wait:focus{
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}
.blog-search .nav-search-btn-wait:focus:not(:focus-visible) {
    outline: none!important
  }

/* 搜索字体颜色样式 */
.blog-search .nav-search-btn-wait .search-tip{
    color: var(--docsearch-doctext-color);
}
.blog-search .nav-search-btn-wait:hover .search-tip {
    color: var(--vp-c-text-1);
}

@media (min-width: 760px) {
  .blog-search .nav-search-btn-wait .search-tip {
        display:inline-block;
    }
}
/* 快捷键样式 */
.blog-search .nav-search-btn-wait .metaKey {
    direction: ltr;
    display: none;
    min-width: auto;
  }
.blog-search .nav-search-btn-wait:hover .metaKey{
    color: var(--vp-c-text-1)
}
  @media (min-width: 760px) {
    .blog-search .nav-search-btn-wait .metaKey {
        display:flex;
        align-items: center
    }
  }

.blog-search .nav-search-btn-wait .metaKey{
  display: block;
  border: 1px solid var(--vp-c-divider);
  border-right: 1px solid var(--vp-c-divider);
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 4px 4px 4px 4px;
  padding-left: 6px;
  padding-right: 6px;
  color: var(--docsearch-doctext-color);
/* 自定义快捷字字体开始样式，达到变色效果 */
  min-width: 0;
  width: auto;
  height: 22px;
  line-height: 22px;
  font-family: var(--vp-font-family-base);
  font-size: 12px;
  font-weight: 500;
  transition: color .5s,border-color .5s;
}
/* .nav-search-btn-wait .metaKey {
    border-right: 1px solid var(--vp-c-divider);
    border-left: 1px solid var(--vp-c-divider);
    border-radius: 0 4px 4px 0;
    padding-left: 6px;
    padding-right: 6px
  } */

