/*默认样式 */
/* 如何做出磨砂透明效果？ */
/* @media (min-width: 960px) {
    .VPNavBar.has-sidebar .curtain{
        position:absolute;
        right: 0;
        bottom: -31px;
        width: calc(100% - var(--vp-sidebar-width));
        height: 32px
    }
  
    .VPNavBar.has-sidebar .curtain:before {
        display: block;
        width: 100%;
        height: 32px;
        background: linear-gradient(var(--vp-c-bg),transparent 70%);
        content: ""
    }
  }
  
  @media (min-width: 1440px) {
    .VPNavBar.has-sidebar .curtain {
        width:calc(100% - ((100vw - var(--vp-layout-max-width)) / 2 + var(--vp-sidebar-width)))
    }
  } */